/*--------------------------Index.html----------------------------------*/


.header{

    background-color: gray;
    background-position: center;
    background-size: cover;
    position: relative;
}
.img-logo{
    width: 40px;
}
.header::after{

    content: "";
    display: block;
    width: 100%;
    height: 10px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 0;

}
.vh-50{
    height: 20vmin;

}



.card-img-filter{
    filter: brightness(0.5);

}


/*--------------------------Salon.html----------------------------------*/

.media-object-img{
   --tamano: 70px;
   width: var(--tamano);
   height: var(--tamano);
   margin-right: 15px;
}
